.color1 {
    background-color: #000000;
    color: rgb(212, 210, 210);
}


.color2{
    background-color: #424e5c;;
    color: rgb(212, 210, 210);
}

.color3{
    background-color: #1b2128;;
    width: 100%;
}



.enlace{
    color: rgb(212, 210, 210)
}

.colorx{
    color: black;
}



a{
    color: rgb(212, 210, 210);
}



/* .color1 {
    background-color: #88498F;
    color: whitesmoke;
}

.color2 {
    background-color: #9ccbce;
    color: black;
}

.color3 {
    background-color: #E0CBA8;
    color: black;
}

.color4 {
    background-color: #d42d07;
    color: whitesmoke;
}

.color5 {
   background-color: #564154; 
   color: white;
} */