<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='colores.css') }}">
    <title>Juegos para PC</title>
</head>
<body>
    <header>
        <nav class="topright">
            <a href="../Formulario/index.html" class="enlace">Registrate</a>
        </nav>                
        <h1>Juegos para PC</h1>
        <h2>En esta sección encontraras los mas grandes exitos en ventas de juegos, asi como sus requisitos tecnicos, descripciones y un link a sus sitios oficiales</h2>
        <nav>
            <ul class="menu">
                <li><a href="../index.html" class="enlace">Inicio</a></li>
                <li><a href="../Playstation/index.html" class="enlace">Playstation</a></li>                
                <li><a href="../Nintendo/index.html" class="enlace">Nintendo</a></li>
                <li>
                    <a href="#" class="enlace">PC</a>
                    <ul class="menu-vertical" id="enlacePc">
                        <li><a href="./juegos/index_diablo.html">Diablo3</a></li>
                        <li><a href="./juegos/index_minecraft.html">Minecraft</a></li>
                        <li><a href="./juegos/index_pubg.html">PUBG</a></li>
                        <li><a href="./juegos/index_rust.html">Rust</a></li>
                        <li><a href="./juegos/index_Terraria.html">Terraria</a></li>
                        <li><a href="./juegos/index_witcher.html">Witcher3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>datos</h2>
            {{juegos}}
            {% for j in juegos %}
                <li>{{ j.nombre}}</li>
                <li>{{ j.descripcion }}</li>
                <li>{{ j.id_consola }}</li>
            {% endfor %}    
        </section>
        <section>
            {{imagen}}
            {% for i in imagen %}
            <li>{{ i.url_imagen }}</li>
            {% endfor %}
        </section>
    </main>
</body>
</html>