<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio modelo de video juegos y consolas, diseñado para el trabajo practico frontend del programa Codo a codo.">
    <meta name="author" content="Grupo10">
    <meta name="keywords" content="Video juegos, Consolas, frontend">
    <link rel="shortcut icon" href="./imagenesicon/pc.jpg">  
    <link rel="stylesheet" href="./css/fuentes.css">
    <link rel="stylesheet" href="./css/estilos_completo.css">
    <link rel="stylesheet" href="./css/colores.css">
    <title>Juegos para Computadora</title>
</head>
<body>
    <header class="color1">
        <nav class="topright">
            <a href="../Formulario/index.html" class="enlace">Registrate</a>
        </nav>                
        <h1>Juegos para PC</h1>
        <h2>En esta sección encontraras los mas grandes exitos en ventas de juegos, asi como sus requisitos tecnicos, descripciones y un link a sus sitios oficiales</h2>
        <nav>
            <ul class="menu">
                <li><a href="../index.html" class="enlace">Inicio</a></li>
                <li><a href="../Playstation/index.html" class="enlace">Playstation</a></li>                
                <li><a href="../Nintendo/index.html" class="enlace">Nintendo</a></li>
                <li>
                    <a href="#" class="enlace">PC</a>
                    <ul class="menu-vertical" id="enlacePc">
                        <li><a href="./juegos/index_diablo.html">Diablo3</a></li>
                        <li><a href="./juegos/index_minecraft.html">Minecraft</a></li>
                        <li><a href="./juegos/index_pubg.html">PUBG</a></li>
                        <li><a href="./juegos/index_rust.html">Rust</a></li>
                        <li><a href="./juegos/index_Terraria.html">Terraria</a></li>
                        <li><a href="./juegos/index_witcher.html">Witcher3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main class="color2">
        <section>
            <h2 class="color3">PC Game</h2>
            <div class="divmain">
                <article>
                    <h2 class="color3">Rust</h2>
                    <img class="imagen" src="./imgprueba/rust1.png" alt="Rust">
                    <p>Rust es un juego de supervivencia creado por Facepunch Studios,La inspiración del videojuego viene de múltiples juegos del género de supervivencia. Los jugadores deben recoger recursos para sobrevivir y fabricar objetos dentro del juego.</p>
                    <a href="./juegos/index_rust.html">Saber más</a>
                </article>
                <article>
                    <h2 class="color3">Minecraft</h2>
                    <img class="imagen" src="./imgprueba/Minecraft.png" alt="Minecraft">
                    <p>Minecraft es un juego de mundo abierto, y no tiene un fin claramente definido, Esto permite una gran libertad en cuanto a la elección de su forma de jugar. A pesar de ello, el juego posee un sistema que otorga logros por completar ciertas acciones.</p>
                    <a href="./juegos/index_minecraft.html">Saber más</a>
                </article>
                <article>
                    <h2 class="color3">Terraria</h2>
                    <img class="imagen" src="./imgprueba/terraria1.png" alt="Terraria">
                    <p>Terraria es un videojuego de mundo abierto en 2D. Contiene elementos de construcción, exploración, aventura y combate, muy similar a juegos clásicos de la consola Super NES, como por ejemplo la serie Metroid, y a otras entregas no tan antiguas como Minecraft.</p>
                    <a href="./juegos/index_Terraria.html">Saber más</a>
                </article>
            </div>
        </section>
        <section>
            <h2 class="color3" id="segundo">PC Game</h2>
            <div class="divmain">
                <article class="artt">
                    <h2 class="color3">PlayerUnknown's Battlegrounds</h2>
                    <img class="imagen" src="./imgprueba/pubg1.png" alt="PlayerUnknown's Battlegrounds" >
                    <p>PUBG es un videojuego de acción en el cual hasta 100 jugadores pelean en una Batalla Real, un tipo de combate a muerte en el cual hay enfrentamientos para ser el último con vida. Los jugadores pueden ingresar en solitario, o con un pequeño equipo.</p>
                    <a href="./juegos/index_pubg.html">Saber más</a>
                </article>
                <article class="artt">
                    <h2 class="color3">The Witcher 3: Wild Hunt</h2>
                    <img class="imagen" src="./imgprueba/witcher1.jpg" alt="The Witcher 3: Wild Hunt">
                    <p>The Witcher 3: Wild Hunt es un juego de rol de acción con una perspectiva en tercera persona. Los jugadores controlan a Geralt de Rivia, un cazador de monstruos conocido como brujo. Tiene una variedad de armas, una ballesta y dos espadas.</p>
                    <a href="./juegos/index_witcher.html">Saber más</a>
                </article>
                <article class="artt">
                    <h2 class="color3">Diablo 3</h2>
                    <img class="imagen" src="./imgprueba/diablo3.png" alt="Diablo 3">
                    <p>Diablo III es un RPG de acción con un estilo similar a su predecesor, Diablo II, mientras que mantiene muy pocos elementos del Diablo original. Diablo III se enfoca en el juego cooperativo o en equipo.</p>
                    <a href="./juegos/index_diablo.html">Saber más</a>
                </article>
            </div>
         </section>
    </main>
    <footer class="color1">
        <nav>
            <ul class="menu">
                <li><a href="../index.html" class="enlace">Inicio</a></li>
                <li><a href="../Playstation/index.html" class="enlace">Playstation</a></li>                
                <li><a href="../Nintendo/index.html" class="enlace">Nintendo</a></li>
                <li><a href="#" class="enlace">PC</a></li>
            </ul>
        </nav>
        <a href="../index.html" class="enlace">Volver a pagina principal</a>
    </footer>
</body>
</html>